@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050508;
  color: #f3f4f6;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0B0F;
}
::-webkit-scrollbar-thumb {
  background: #1F1F2E;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2D2D44;
}
